[submodule ".registry"]
	path = .registry
	url = https://github.com/margosolo/universe
	shallow = true
	branch = HEAD
[submodule "curl"]
	path = curl
	url = https://github.com/jeroen/curl
	shallow = true
	registered = true
[submodule "pdftools"]
	path = pdftools
	url = https://github.com/ropensci/pdftools
	shallow = true
	registered = true
[submodule "stringdist"]
	path = stringdist
	url = https://github.com/markvanderloo/stringdist
	shallow = true
	subdir = pkg
	registered = true
